TUSHARE_TOKEN=
ALPHA_VANTAGE_API_KEY=
POLYGON_API_KEY=
MOOMOO_HOST=127.0.0.1
MOOMOO_PORT=11111
QUANTLAB_REPORT_DIR=
QUANTLAB_INDUSTRY_REPORT_DIR=
QUANTLAB_ALIPAY_LEDGER_DIR=
QUANTLAB_INDUSTRY_HOLDINGS_DIR=
QUANTLAB_CONSUMER_HOLDINGS_DIR=
QUANTLAB_HOLDINGS_DIR=
QUANTLAB_APP_INSTALL_DIR=
